* @coopnorge/engineering

Dockerfile @coopnorge/github-review-bots @coopnorge/engineering
go.mod @coopnorge/github-review-bots @coopnorge/engineering
go.sum @coopnorge/github-review-bots @coopnorge/engineering
vendor @coopnorge/github-review-bots @coopnorge/engineering

/CODEOWNERS @coopnorge/cloud-security
.github/workflows/security-* @coopnorge/cloud-security

